*{
    margin: 0 auto;
}
h1{
    background-color: bisque;
    color: brown;
    border: 5px double brown;
    padding: 5px 0 5px 20px;
}
h3, p{
    padding: 10px 0 10px 0;
}
span{
    color: red;
}
.box{
    border: 3px solid #02057a;
    background-color: #a0a2eb;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    width: 20%;
}
h4{
    color: #02057a ;
    padding: 10px 0 20px 0;
}
.note{
    color: red;
}
